button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-light-1);
    color: var(--color-light-1);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

button:active {
    background-color: var(--color-light-1);
}

button.pill {
    border-radius: 16px;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

button.green {
    border-color: var(--color-success);
    color: var(--color-success);
}

button.green:active {
    background-color: var(--color-success);
}