@import "loader.css";

html, body {
    margin: 0;
}

dialog {
    position: absolute;
    background-color: var(--color-primary);
    border: 1px solid var(--color-light);
    border-radius: 10px;
}

.hide {
    display: none !important;
}

.fixed {
    position: fixed;
}

.header {
    top: 0;
    width: 100%;
    display: flex;
}

.header > * {
    margin: 10px;
}

.title {
    cursor: pointer;
}

p.red {
    background-color: var(--color-error);
}

p.green {
    background-color: var(--color-success);
}