@import "loader.css";
@import "button.css";
@import "input.css";
@import "font.css";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

* {
    margin: 0;
    user-select: none;
}

body {
    overflow: hidden;
}

.hide {
    display: none !important;
}

.fixed {
    position: fixed;
}

.header {
    top: 0;
    width: 100%;
    display: flex;
}

.header > * {
    margin: 10px;
}

.title {
    cursor: pointer;
}

.flex {
    display: flex;
}

p.red {
    background-color: var(--color-error);
}

p.green {
    background-color: var(--color-success);
}

.mgw-lr-1 {
    margin: 1vw;
}

.float-right {
    margin-left: auto;
    float: right;
}

.pointer {
    cursor: pointer;
}

#notify {
    top: 5vh;
    left: 36vw;

    position: absolute;
    z-index: 5;

    width: 22vw;
    height: auto;
}

#notify > * {
    margin-top: 20px;
    padding: 6px 12px;

    border-radius: 15px;
    border: 2px solid var(--color-primary-invert);

    background-color: var(--color-primary);
    color: var(--color-primary-invert);

    cursor: pointer;
}

#notify > .success {
    border-color: var(--color-success);

}

#notify > .warning {
    border-color: var(--color-warning);
}

#notify > .error {
    border-color: var(--color-error);
}

.cursor {
    cursor: pointer;
}

.material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined.bold {
    font-weight: bold;
}