@import "loader.css";
@import "button.css";
@import "input.css";
@import "font.css";

* {
    margin: 0;
    user-select: none;
}

body {
    overflow: hidden;
}

dialog {
    position: absolute;
    background-color: var(--color-primary);
    border: 1px solid var(--color-light-1);
    border-radius: 10px;
}

.hide {
    display: none !important;
}

.fixed {
    position: fixed;
}

.header {
    top: 0;
    width: 100%;
    display: flex;
}

.header > * {
    margin: 10px;
}

.title {
    cursor: pointer;
}

.flex {
    display: flex;
}

p.red {
    background-color: var(--color-error);
}

p.green {
    background-color: var(--color-success);
}

.mgw-lr-1 {
    margin: 1vw;
}