input {
    background-color: var(--color-primary);
    border: none;
    border-bottom: 1px solid var(--color-primary-invert);
    text-decoration: none;
    outline: none;
}

input[type="submit"] {
    background-color: var(--color-primary-invert);

    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;

    user-select: none;
    outline: none;
    cursor: pointer;

    border: 1px solid var(--color-primary-invert);
    border-radius: 5px;

    padding: 5px 7px;
}

input[type="submit"]:active {
    background-color: transparent;
    color: var(--color-primary-invert);
}

input[type="submit"].pill {
    border-radius: 20px;
    padding: 7px 12px;
}

input:focus:not([type="submit"]) {
    border-bottom: 3px solid var(--color-primary-invert);
}

input.error, input:invalid {
    border-color: var(--color-error);
}

input.success {
    border-color: var(--color-success);
}

fieldset > input {
    width: 100%;
}

fieldset.input {
    border-radius: 10px;
}

fieldset.input input {
    border: none;
    font-size: 1.2em;
}
