input {
    background-color: var(--color-primary);
    border: none;
    border-bottom: 1px solid var(--color-light-1);
    text-decoration: none;
    outline: none;
}

input:focus {
    border-bottom: 3px solid var(--color-light-1);
}

input.error {
    border-color: var(--color-error);
}

input.success {
    border-color: var(--color-success);
}

input[type=submit].pill {
    border: 1px solid var(--color-light-1);
    border-radius: 20px;
    padding: 7px 12px;
}

fieldset > input {
    width: 100%;
}

fieldset.input {
    border-radius: 10px;
}

fieldset.input input {
    border: none;
    font-size: 1.2em;
}
