#node-menu {
    min-width: 30vw;
    height: 86vh;
    position: absolute;
    margin-top: 1vw;
    right: 1vw;
    left: inherit;
    overflow-y: scroll;
}

#node-menu > .header {
    display: block;
    margin-bottom: 20px;
}

#node-menu > .body {
    overflow: hidden;
    overflow-y: scroll;
}

#node-menu > .body::-webkit-scrollbar {
    display: none;
}

#node-menu > .body > :not(:first-child) {
    margin-top: 15px;
}

#node-menu [data-type="node-title"] {
    border: none;
    font-weight: bold;
    font-size: 1.5em;
}