#ui {
    position: absolute;
    z-index: 1000;
    background-color: var(--color-primary);
    width: 100%;
}

#header {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

#header > [data-type="title"] {
    font-size: 2em;
}

[data-type="server-addr"] {
    min-width: 100px;
    border: 1px solid var(--color-light-1);
    border-radius: 25px;
    margin-left: 1vw;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

[data-type="server-addr"].warning {
    border-color: var(--color-warning);
    color: var(--color-warning);
}

[data-type="server-addr"].error {
    border-color: var(--color-error);
    color: var(--color-error);
}

[data-type="server-addr"].success {
    border-color: var(--color-success);
    color: var(--color-success);
}

#select-addr-dialog {
    top: 35vh;
    left: 42vw;
    z-index: 10000;
}

#select-addr-dialog > * {
    margin-top: 15px;
}

#select-addr-dialog > .container {
    width: 100%;
}

#select-addr-dialog > .container > * {
    float: right;
}

button[data-type="save"] {
    margin-left: auto;
    margin-right: 2vw;
    font-size: 1.2em;
}

#save-status {
    margin-top: 0.5vw;
    margin-left: 1vw;
}