@import "ui/dialog.css";

:root {
    --layer-level-ui: 1;
    --layer-level-dialog: 5;
}

#ui {
    position: absolute;
    z-index: 1000;
    background-color: var(--color-primary);
    width: 100%;
}

#header {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

#header > * {
    margin-left: 1vw;
    margin-right: 1vw;
}

#header > [data-type="title"] {
    font-size: 2em;
}

#header > button[data-type="save"] {
    margin-left: auto;
    float: right;
}

[data-type="server-addr"] {
    min-width: 100px;

    border: 1px solid var(--color-primary-invert);
    border-radius: 25px;

    text-align: center;
    cursor: pointer;
    font-weight: bold;

    padding: 10px 20px;
    margin-right: 0;
    margin-left: 0;
}

#select-addr-dialog {
    top: 35vh;
    left: 42vw;
    z-index: 10000;
}

#select-addr-dialog > * {
    margin-top: 15px;
}

#select-addr-dialog > .container {
    width: 100%;
}

#select-addr-dialog > .container > * {
    float: right;
}

button[data-type="save"] {
    margin-left: auto;
    font-size: 1.2em;
}

#save-status {
    margin: 10px 1vw;
    opacity: .6;
}

dialog.prompt {
    font-size: 1em;
    position: absolute;
    left: 40vw;
    top: 30vh;
}

dialog.prompt > *:not(:first-child) {
    margin-top: 20px;
}

dialog.prompt div.payload input {
    font-size: .9em;
}

dialog.prompt div.submit {
    margin-left: auto;
    float: right;
}

dialog.prompt div.submit > input {
    --active-color: var(--color-primary-invert);

    font-size: .9em;
    cursor: pointer;
}

dialog.prompt div.submit > input[data-type="submit"]:active {
    background-color: var(--active-color);
}

dialog.prompt div.submit > input[data-type="apply"] {
    --active-color: var(--color-success);

    border-color: var(--active-color);
    color: var(--active-color);
}

ul.noorder {
    list-style: none;
}

dialog#process-selector {
    left: 35vw;
    top: 25vh;
}

ul.selectable > li {
    cursor: pointer;
}

dialog#process-selector > div[data-list="process"] > * {
    margin-top: 7px;
    cursor: pointer;
}

dialog > .submit {
    margin-top: 5px;
}

details.field-group > summary {
    font-size: 1.3em;
}

details.field-group > div[data-list="field"] > * {
    margin-top: 8px;
}

[data-type='node-id'] {
    cursor: pointer;
}