@import "../theme/dark.css";
@import "../commons.css";
@import "../ui.css";

@import "index/filesystem.css";

dialog {
    top: 40%;
    left: 40%;
}

nav > ul {
    margin-top: 15vh;
    font-weight: bold;
    font-size: 3em;
}

nav > ul > li:not(:first-child) {
    margin-top: 1vh;
}

nav > ul > li {
    --hover-margin: 1vw;

    transition: 500ms;
    cursor: pointer;
}

nav > ul > li:hover {
    margin-left: var(--hover-margin);
}

nav > ul > li.selected {
    margin-left: var(--hover-margin);
}

#body {
    display: flex;
}