@import "../theme/dark.css";
@import "../commons.css";
@import "../ui.css";

@import "index/filesystem.css";

nav > ul {
    margin-top: 15vh;
    font-weight: bold;
    font-size: 3em;
}

nav > ul > li:not(:first-child) {
    margin-top: 1vh;
}

nav > ul > li {
    --hover-margin: 1vw;

    transition: 500ms;
    cursor: pointer;
}

nav > ul > li:hover {
    margin-left: var(--hover-margin);
}

nav > ul > li.selected {
    margin-left: var(--hover-margin);
}

#body {
    display: flex;
}

dialog[data-context="create-file"] form > * {
    font-size: 1em;
}

dialog[data-context="create-file"] form > *:not(input[type="submit"]) {
    display: block;
    margin-bottom: 25px;

    border-bottom: 2px solid var(--color-primary-invert);

    padding: 7px;
}

dialog[data-context="create-file"] input:not([type="submit"]) {
    background-color: transparent;
    border: none;
}

dialog[data-context="create-file"] button[data-action="create"] {
    font-size: 1em;
}