@import "../theme/dark.css";
@import "../commons.css";
@import "../ui.css";
@import "../node_menu.css";
@import "../node_ops/allin.css";

#header [data-type="save"] {
    margin-left: auto;
    margin-right: 1vw;
}

#header [data-type="process-name"] {
    margin-top: 5px;
}

#save-process {
    margin-top: 10%;
    left: 40%;
}

#save-process > .container {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 0;
    float: right;
}

#save-process > .container > button {
    font-size: 1em;
}

fieldset.input[data-type="code"] {
    height: 55vh;
}

textarea.code {
    background-color: var(--color-primary);
    width: 100%;
    height: 50%;
    resize: vertical;
    outline: none;
    font-size: 1.2em;
    display: block;
    border: none;
}

#process-version-dialog {
    max-height: 40vh;
}

#process-version-dialog [data-type="versions"] {
    position: relative;
    margin-top: 10px;
}

#process-version-dialog ul {
    margin-left: 0;
    padding: 0;
    height: 150px;
    overflow-y: scroll;
}

#process-version-dialog ul > li:not(:last-child) {
    border-bottom: 1px solid var(--color-primary-invert);
}

#process-version-dialog ul > li {
    padding: 10px;
}

#process-version-dialog button[data-type="apply"] {
    margin-top: 10px;
    margin-left: 82%;
}