@import "../theme/dark.css";
@import "../commons.css";
@import "../ui.css";
@import "../node_menu.css";

#header [data-type="save"] {
    margin-left: auto;
    margin-right: 1vw;
}

#header [data-type="process-name"] {
    margin-top: 5px;
}

#save-process {
    margin-top: 10%;
    left: 40%;
}

#save-process > .container {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 0;
    float: right;
}

#save-process > .container > button {
    font-size: 1em;
}

fieldset.input[data-type="code"] {
    height: 55vh;
}

textarea.code {
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 1.2em;
    display: block;
    border: none;
}